.nav {
  background-color: #000228;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: .25rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.site-title {
  font-size: 2rem;
}

.custom-card-layout {
  margin-bottom: 1rem;
}

.profile {
  text-align: center;
}

.profile-img {
  height: 20vh;
  width: 20vh;
  margin-bottom: 1rem;
}

.indication {
  margin-bottom: 2rem;
}

.brandStatement {
  margin-bottom: 2rem;
}

.projectDetails {
  margin-bottom: 2rem;
}

.project-image {
  height: 30vh;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.MuiFormControl-root {
  margin-bottom: 20px;
}

.MuiButton-root {
  margin-top: 20px;
}

.text-field {
  margin-bottom: .25rem;
}

.contact-field {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-field a {
  margin-right: 1rem;
}